
.connexion-block{
    margin: auto !important;
    width: 20% !important;
    margin-top: 200px !important;
}

.connexion-block{
    margin: auto !important;
    width: 30% !important;
    margin-top: 200px !important;
}